* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Tabs {
  width: 80%;
  height: auto;
  min-height: 400px;
  background: pink;

}
ul.nav {
  width: 60%;
  margin: 0 auto ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 0px;
}
ul.nav li {
  list-style: none;
}
.TabContent {
  font-size: 2rem;
  text-align: center;
}